@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600);
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #484848;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	vertical-align: baseline;
	font-size: 15px;
	font-weight: 600;
}
.wrap {
	padding: 20px;
}
a {
	color: #484848;
	text-decoration: none;
}
a:focus {
	outline: none;
}
nav {
	border-bottom: 1px solid #e0e0e0;
}
.nav-menu {
	display: block;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 15;
}
.nav-item {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}
.nav-item > a {
	position: relative;
	display: inline-block;
	padding: 14px 24px 15px 0;
}
.nav-item > a:hover{color: #8ce7c3;}
.nav-item > a:focus,
.nav-item > a.open {
	color: #8ce7c3;
}
.nav-item > a.open {
	z-index: 1;
	color: #8ce7c3;
}
.sub-nav {
	position: absolute;
	display: none;
	top: 49px;
	border: 1px solid #e0e0e0;
	background-color: #fff;
	font-size: 13px;
	border-radius: 0 0 6px 6px;
	box-shadow: 0 2px 3px 0 #e0e0e0;
}
.sub-nav a {
	display: block;
	padding: 12px 18px;
}
.sub-nav a:hover,
.sub-nav a:focus {
	background: #8ce7c3;
}
.sub-nav.open {
	display: block;
}
.sub-nav ul {
	display: inline-block;
	vertical-align: top;
	padding: 0;
}
.sub-nav li {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}